@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
@layer components {
  .main-container {
    @apply w-full lg:max-w-[1410px] 2xl:max-w-[1536px] mx-auto px-4 md:px-2 xl:px-4 2xl:px-4;
  }
  .heading{
    @apply w-full text-4xl text-wrap text-center font-bold capitalize py-3;
  }
  .button{
    @apply   px-5 py-3 rounded-3xl capitalize bg-blue-800 text-white my-5;
  }
}